<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588922359419-fdiu4bu6jbpc3114p8qfjqj2jktmtfcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588922359419-fdiu4bu6jbpc3114p8qfjqj2jktmtfcn</string>
	<key>API_KEY</key>
	<string>AIzaSyCjUmbPm1WFlgF_jHTsi8N1vQk8JrWHC1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>588922359419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apanchenko.Messanger</string>
	<key>PROJECT_ID</key>
	<string>messengerapp-a4966</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapp-a4966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588922359419:ios:4933c3cb7f6eee6f811cde</string>
</dict>
</plist>